In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/rishabh/Prog/multi-disease-predictor/data/processed/Anemia.csv")

In [3]:
df.head()

,Unnamed: 0,index,S.No.,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT/mm3,HGB,diseased
0,0,0.0,1.0,28.0,0.0,5.66,34.0,60.1,17.0,28.2,20.0,11.10,128.3,9.6,1.0
1,1,1.0,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13.0,7.02,419.0,13.8,0.0
2,2,2.0,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13.0,8.09,325.0,13.4,0.0
3,3,3.0,4.0,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264.0,11.3,1.0
4,4,4.0,5.0,20.0,1.0,4.14,36.9,89.1,27.8,31.2,13.2,4.75,196.0,11.5,0.0

In [9]:
df.drop(["Unnamed: 0","index","S.No."],axis=1,inplace=True)

In [10]:
df

,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT/mm3,HGB,diseased
0,28.0,0.0,5.66,34.0,60.1,17.0,28.2,20.0,11.10,128.3,9.6,1.0
1,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13.0,7.02,419.0,13.8,0.0
2,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13.0,8.09,325.0,13.4,0.0
3,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264.0,11.3,1.0
4,20.0,1.0,4.14,36.9,89.1,27.8,31.2,13.2,4.75,196.0,11.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
333,22.0,0.0,4.65,29.1,62.6,20.4,32.6,17.0,6.70,200.0,9.5,1.0
334,51.0,0.0,4.85,35.2,91.7,31.0,33.8,13.3,5.60,215.0,15.0,1.0
335,21.0,1.0,4.47,39.7,88.7,29.3,33.0,13.5,9.20,329.0,13.1,0.0
336,35.0,1.0,4.75,36.2,86.7,27.9,32.1,13.5,6.48,174.0,13.2,0.0
337,26.0,0.0,4.95,44.4,89.7,30.6,34.2,12.3,8.80,279.0,15.2,1.0

In [11]:
df.to_csv("/home/rishabh/Prog/multi-disease-predictor/data/processed/Anemia.csv",index=False)